a{
    text-decoration: none;
    color: white;
    padding: 10px;
}
.evento{
    background-image: url("../imagenes_integrador_front/hawaii.jpg");
    height:100vh;
    background-size: cover;
    background-position: bottom;
    color: white;
    align-content:left;
    }
.navfooter{
    margin: 0px;
}
@media(max-width:600px){
    #contenedor{
        background-size: cover;
        flex-direction: column !important;
    }
    #texto{
        width: 100% !important;
    }
}
